* {
    box-sizing: border-box;
    margin: 0;
    font-family: Vazirmatn FD;
    direction: rtl;
}

body {
    line-height: 1.6;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

img#logo {
    width: 171px;
    height: 45px;
    margin-bottom: 5px;
}

a#nav-logo {
    display: inline-block;
    margin-right: 24px;
    margin-top: 6px;
}

.searchBox {
    position: relative;
}

input[type=search] {
    margin-top: 6px;
    border-radius: 50px;
    width: 100%;
    background-color: #f5f5f5;
    border: none;
    height: 40px;
    padding: 0px 50px;


}

img#searchIcon {
    margin-top: 6px;
    position: absolute;
    right: 35px;
    top: 6px;
    bottom: 0px;
}

div.membership {
    margin-top: 6px;
    justify-content: space-around;
    align-items: start
}

div.membership a {
    text-decoration: none;
    color: #333;
    text-align: center;
}

div.membership a:hover {
    color: #757575;

}

div.membership>div>img {
    height: 22px;
    display: block;
    margin: 0 auto;
}

nav.navSection {
    border-top: 1px solid #f5f5f5;
    white-space: nowrap;
    justify-content: space-between;
    height: 34px;
    padding-left: 17px;
}

nav.navSection a {
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

nav.navSection a:hover {
    color: #757575;
}

div.menuRight,
div.menuLeft {
    display: flex;
    justify-content: space-between;
    width: 30%;

}

div.menuRight>div>img {
    width: 14px;
}

div.slider {
    position: relative;
    height: 674px;
    background: url(/images/farmer-big.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
}

div.sliderPrompt {
    position: absolute;
    left: 160px;
    bottom: 310px;
    text-align: left;
    color: #fff;
    text-shadow: 3px 1px 5px #2b2b2b;
    direction: rtl;
}

p.promptHeader {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 35px;
}

p.promptText {
    font-size: 16px;
    line-height: 24px;
    max-width: 350px;
    margin-right: auto;
    text-align: right;
}

a.xl-ActionBtton {
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
    max-width: 90%;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    width: 400px;
    font-size: 24px;
    background: #1ba57a;
    border-color: #1ba57a;
    color: #fff;
    position: absolute;
    margin: 0;
    left: 10px;
    text-align: center;
    border-radius: 50px;

}

a.xl-ActionBtton:hover {
    background-color: #53a983;
}

div.timeLine {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #424242;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 930px;
    margin: auto;
    text-align: center;
}

.timelineItem {
    position: relative;
    padding: 35px;
    /* width: 340px; */
    height: 295px;
    margin-bottom: 15px;
}

.rightSection {
    background: url(/images/right-box.png) no-repeat;
    background-size: contain;
    background-position: center;

}

.middleSection {
    background: url(/images/center-box.png) no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 40px;
}

.leftSection {
    background: url(/images/left-box.png) no-repeat;
    background-size: contain;
    background-position: center;

    clear: left;

}

.middle-timelineIcon {
    display: block;
    margin: 0px auto;
}

.left-timelineIcon {
    display: block;
    float: left;
}

.timelineNumber {
    height: 60px;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.timelineTitle {
    background: url(/images/title.png) no-repeat;
    height: 51px;
    background-position: center;
    white-space: nowrap;
    text-align: center;
}

.timelineTitle>p {
    font-size: 18px;
    letter-spacing: -0.24px;
    line-height: 53px;
    font-weight: bold;
    color: #424242;
    margin: 0 0 10px;
}

.timelineDesc {
    width:78%;
    margin-left: auto;
    margin-right: auto;
}
.timelineDescBottom{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.timelineDescBottom>p{
    font-size: 17px;
    line-height: 25px;
    color: #fafafa;
    margin-top: 15px;

    margin-bottom: 0;
    max-height: 180px;
    overflow: hidden;
    text-align: center;
}
.timelineDesc>p {
    font-size: 17px;
    line-height: 25px;
    color: #fafafa;
    margin-top: 15px;

    margin-bottom: 0;
    max-height: 180px;
    overflow: hidden;
    text-align: center;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {
    .menuRight, .menuLeft{
        background-color: #333;
       } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .timelineDesc, .timelineDescBottom{
        width: 40%;
    } */
    .timelineDesc{
        /* width:40%; */
    }
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
